@import url(/style/font-family.css);
.title{
    width: 240px;
    height: 100px;
    display: grid;
    grid-template-rows: 1% 124% 1%;
}
.title.top{
    display: grid;
    grid-template-columns: 20% 54% 49%;
    grid-template-rows: 83px;
}
.title_name{
    font-family: "Gutter-italic";
    width: fit-content;
}
.title_name.unbordered{
    font-family: "Gutter-regular";
    font-size: 55px;
    transform: translateY(-27px) translateX(-12px);
}
.title_name.bordered{
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:3px;
    border-style:solid;
}
.title_name.mid{
    font-size: 85px;
    transform: translateX(-10px);
}
.title.bottom{
    display: grid;
    grid-template-columns: 20% 54%;
    grid-template-rows: 83px;
    transform: translateX(-25px) scale(0.85);
}